<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Posts</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/general.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/posts.css') }}">
    </head>
    <body>
        <h1 class="heading">Posts</h1>
        <ul class="post_list">
            {% for post in posts: %}
            <li class="post_list_item">
                <div class="post">
                    <div class="post_head">
                        <h3>{{ post[0] }}</h3>
                        <h6>{{ post[1] }}</h6>
                        <p>by {{ post[2] }}, {{ post[3] }}</p>
                    </div>
                    <p>{{ post[4] }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
