<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tekk - Posts</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/general.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/posts.css') }}">
    </head>
    <body>
        <div class="heading_container">
            <h1 class="heading">Posts</h1>
            <ul class="front_menu">
                <li class="front_menu_item">
                    <a href="{{ url_for('index')  }}">Tekk</a>
                </li>
                <li class="front_menu_item">
                    <a href="{{ url_for('edit')  }}">About</a> <!-- coming soon -->
                </li>
            </ul>
        </div>
        <ul class="post_list">
            {% for post in posts: %}
            <li class="post_list_item">
                <div class="post">
                    <div class="post_head">
                        <h3 class="title">{{ post[0] }}</h3>
                        <h6 class="under_title">{{ post[1] }}</h6>
                        <p class="info">by {{ post[2] }}, <br>{{ post[3] }}</p>
                    </div>
                    <p class="content">{{ post[4] }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
